/* .waldo {
top:-50px; 
left:-35px; 
display:block; 
z-index:999; 
cursor: pointer; 
-webkit-transition-property: all; 
-webkit-transition-duration: 0.3s; 
-webkit-transition-timing-function: ease; 
} 

.waldo:hover { 
transform: scale(3);
position: absolute;
top: 0px;
left: 0px;
} */

/* .waldo{
  transition: transform .2s;
  width:50px;
  height:50px;
  margin:0 auto;
  background-color: rgb(173, 173, 237);
  
}
.waldo:hover{
  transform:scale(2.5);
  zoom: 200%;
  z-index: 999;
  overflow: visible;
} */

.interlanguage-link {
  display: block;
}

.waldo {
  /* padding: 50px; */
  /* background-color: green; */
  transition: transform .2s; /* Animation */
  /* margin: 0 auto; */
}

.waldo:hover {
  z-index: 999;
  transform: scale(3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.staff:hover {
  animation: rotation 2s infinite linear;

}

@keyframes rotation {
  from {
    transform: rotate(0deg) scale(3);
  }
  to {
    transform: rotate(359deg) scale(3);
  }
}